.container {
    display: grid;
    text-align: center;
    gap: 5px;
    line-height: 75px;
    grid-template-columns: 75px repeat(7, 100px);
    grid-template-rows: repeat(11, 75px);
    grid-template-areas: 
    "S1 T1 T2 T3 T4 T5 T6 T7"
    "S2 CB1 CB1 CG1 CR1 CR1 CY1 CY1" 
    "S3 CB1 CB1 CG1 BR1 BR1 CY1 CY1"
    "S4 CB1 CB1 CG1 CR2 CR2 CY1 CY1"
    "S5 BR2 BR2 CG1 CR2 CR2 CY1 CY1"
    "S6 CB2 CB2 CB2 CR2 CR2 CY1 CY1"
    "S7 CB2 CB2 CB2 CR2 CR2 CY1 CY1"
    "S8 BR3 BR3 BR3 BR3 BR3 BR3 BR3"
    "S9 CB3 CB3 . . . CY2 CY2"
    "S10 CB3 CB3 CG2 CG2 CG2 CY2 CY2"
    "S11 CB3 CB3 CG2 CG2 CG2 CY2 CY2";
}
.ST{
    background-color: rgb(245,245,245);
    border-radius: 5px;
}
.B{
    background-color: rgb(206,229,238);
    border-radius: 5px;
    color: rgb(20,139,183);
}
.G{
    background-color: rgb(173,247,208);
    border-radius: 5px;
    color: rgb(0,209,125);
}
.R{
    background-color: rgb(255,186,188);
    border-radius: 5px;
    color: rgb(249,83,90);
}
.Y{
    background-color: rgb(255,247,163);
    border-radius: 5px;
    color: rgb(255,187,6);
}
.BR{
    background-color: rgb(236,236,236);
    border-radius: 5px;
    color: rgb(88,88,88);
}
.S1{
    grid-area: S1;
}
.S2{
    grid-area: S2;
}
.S3{
    grid-area: S3;
}
.S4{
    grid-area: S4;
}
.S5{
    grid-area: S5;
    background-color: rgb(255,160,89);
    border-radius: 5px;
}
.S6{
    grid-area: S6;
}
.S7{
    grid-area: S7;
}
.S8{
    grid-area: S8;
    background-color: rgb(255,160,89);
    border-radius: 5px;
}
.S9{
    grid-area: S9;
}
.S10{
    grid-area: S10;
}
.S11{
    grid-area: S11;
}
.T1{
    grid-area: T1;
}
.T2{
    grid-area: T2;
}
.T3{
    grid-area: T3;
}
.T4{
    grid-area: T4;
}
.T5{
    grid-area: T5;
}
.T6{
    grid-area: T6;
}
.T7{
    grid-area: T7;
}
.CB1{
    grid-area: CB1;
}
.CB2{
    grid-area: CB2;
}
.CB3{
    grid-area: CB3;
}
.CG1{
    grid-area: CG1;
}
.CG2{
    grid-area: CG2;
}
.CR1{
    grid-area: CR1;
}
.CR2{
    grid-area: CR2;
}
.CY1{
    grid-area: CY1;
}
.CY2{
    grid-area: CY2;
}
.BR1{
    grid-area: BR1;
}
.BR2{
    grid-area: BR2;
}
.BR3{
    grid-area: BR3;
}