body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.menu{
    display: inline-block;
    width: 100vw;
}
.chicken{
    border: 3px solid black;
    margin: 2%;
    width: 28vw;
    float: left;
    height: 30vh;
}
.beef{
    border: 3px solid black;
    margin: 2%;
    width: 28vw;
    float: left;
    height: 30vh;
}
.sushi{
    border: 3px solid black;
    margin: 2%;
    width: 28vw;
    float: left;
    height: 30vh;
}
.chickent{
    border:  1px solid black;
    display: block;
    text-align: center;
    width: 10vw;
    float: right;
}
.beeft{
    border:  1px solid black;
    display: block;
    text-align: center;
    width: 10vw;
    float: right;
}
.sushit{
    border:  1px solid black;
    display: block;
    text-align: center;
    width: 10vw;
    float: right;
}