.vis {
    border: 3px solid black ;
    border-style: dashed;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    padding: 5px;
}

.vis img {
    float: right;
    height: 150px;
    border-radius: 10px;
}

/* .web div {
    margin: 2px;
    display: inline-flex;
}

.header {
    width: 100vw;
    height: 75px;
    background-color: gray;
}

.nav {
    width: 100vw;
    height: 50px;
    background-color: gray;
}

.body {
    width: 100vw;
    height: 300px;
    justify-content: space-between;
    align-content: space-evenly;
    align-items: stretch;
    gap: 2px;
}

.aside {
    flex-grow: 1;
    height: inherit;
    float: left;
    background-color: gray;
}

.main {
    flex-grow: 4;
    height: inherit;
    background-color: gray;
}

.bside {
    flex-grow: 1;
    height: inherit;
    float: right;
    background-color: gray;
}

.footer { 
    width: 100vw;
    height: 50px;
    background-color: gray;
} */

.web div {
    margin: 2px;
}

.header{
    height: 70px;
    background-color: gray;
}

.nav{
    height: 40px;
    background-color: gray;
}

.footer{
    height: 40px;
    background-color: gray;
}

.body{
    display:inline-block;
    height: 100px;
    width: 100vw;
    box-sizing: border-box;
}

.aside {
    float: left;
    height: inherit;
    background-color: gray;
    width: 10%;
    box-sizing: border-box;
}

.bside {
    float: right;
    height: inherit;
    background-color: gray;
    width: 10%;
    box-sizing: border-box;
}

.main {
    float: left;
    height: inherit;
    background-color: gray;
    width: 75%;
    box-sizing: border-box;
}

.web2{
    display: inline-block;
    width: 100%;
}

.header2 {
    color: snow;
    background-color: dodgerblue;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.ls, .main2, .rs{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
    height: 100px;
}

.ls {
    background-color: orangered;
    color: snow;
    float: left;
    width: 15%;
}

.main2{
    background-color: green;
    color: snow;
    float: left;
    width: 70%;
}

.rs{

    background-color: yellow;
    float: right;
    width: 15%;
}

.bf{
    background-color: rgb(158, 36, 158);
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.fo{
    background-color: lightsalmon;
    display: inline-block;
    width: 20%;
    margin: 10px;
    padding: 10px;
}

@font-face {
    font-family: Roboto;
    src: url(/HTML2/Roboto/Roboto-Bold.ttf);
}

.web3{
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%;
}

.n3, .b3, .f3{
    margin: 5px;
    font-family: Roboto;
}

.n3{
    border-radius: 5px;
    background-color: rgb(21, 146, 21);
    text-align: center;
    padding: 15px;
    color: snow;
    
}

.b3{
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    color: snow;
    text-align: center;
    display:inline-block;
    box-sizing:border-box;
    width: 99%;
    margin-right: 100px;
}

.s31{
    background-color: rgb(235, 54, 54);
    width: 100%;
    box-sizing: border-box;
}

.s32{
    background-color: orange;
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.s33{
    background-color: pink;
    float: right;
    width: 50%;
    box-sizing: border-box;
}

.f3{
    background-color: dodgerblue;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: snow;
}