*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.text{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
    overflow: hidden;

    div{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 2vh 0 2vh 0;
        padding: 1px;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 4px darkslategray;
        cursor: pointer;
        transform:translate(0, -100vh);
        transition: transform 1s ease-in;
        

        &:hover{
            margin-top: calc(2vh + 4px);
            margin-bottom: calc(2vh - 4px);
            text-shadow:none;
        }
    }
}
#box{
    display: none;
}
form{
    display: flex;
    flex-direction: column;
    
}
label{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1vw;
    background-color: orangered;
    transition: background-color 1s;
    
    div div{
        margin: 7px;
        width: 50px;
        border: 5px solid white;
        opacity: 1;
        transition: all .5s;
    }
}
#box:checked ~ .text div{
    transform: translate(0, 0);
    transition: transform 1s ease-out;
}
#box:checked + label{
    background-color: saddlebrown;
    transition: background-color 1s;

    .lines{
        transform: rotateZ(540deg);
        transition: all 1s;

        .line_1{
            transform: translateY(17px) rotateZ(45deg);
            transform-origin: center;
            transition: transform .5s;
        }
        .line_2{
            opacity: 0;
            transition: opacity 1s;
        }
        .line_3{
            transform: translateY(-17px) rotateZ(-45deg);
            transform-origin: center;
            transition: transform .5s;
        }
    }
}